includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max

    paths:
        - app
        - config
        - tests
        - database
        - modules
        - routes

    ignoreErrors:
        # Mixed issues
        - '#Cannot call method (.*) on mixed.#'
        - '#Cannot access offset (.*) on mixed.#'
        - '#Argument of an invalid type mixed supplied for foreach, only iterables are supported.#'
        - '#Cannot cast mixed to (.*).#'
        - '#Cannot access property (.*) on mixed.#'

        # Spatie tags model is hard type hinted but we override it
        - '#expects Spatie\\Tags\\Tag.#'

        # Unexplainable false positives
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::(.*).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany::(.*).#'

        # Mockery causes issues
        - message: '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::(.*).#'
          paths:
            - tests/**/*

        - message: '#Parameter (.*) expects (.*), Mockery\\LegacyMockInterface given.#'
          paths:
            - tests/**/*

        - identifier: missingType.iterableValue
        - identifier: missingType.generics


    checkUnionTypes: false
    checkModelProperties: true

    universalObjectCratesClasses:
        # This can be removed once we start annotating our models, otherwise properties and methods can not be resolved properly
        - Illuminate\Database\Eloquent\Model
        - Laravel\Socialite\Contracts\User
