.dropdown {
    @apply inline-block;
}

.dropdown-menu {
    @apply absolute rounded-md shadow-lg bg-white focus:outline-none mt-1 py-1;

    min-width: 10rem;
}

.dropdown-text {
    @apply py-2 px-4 block;
}

.dropdown-item {
    @apply block py-2 px-4 font-medium whitespace-nowrap w-full text-left;

    &:hover {
        @apply bg-gray-50;
    }
}
