.ProseMirror {
    > * {
        @apply mt-4 mx-4;
        font-family: 'Source Sans Pro';
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Nunito';
    }

    > h1 {
        @apply text-surf-h1 leading-surf-h1 text-surf-black font-surf-h1;
    }

    > h2 {
        @apply text-surf-h2 leading-surf-h2 text-surf-black font-surf-h2;
    }

    > h3 {
        @apply text-surf-h3 leading-surf-h3 text-surf-black font-surf-h3;
    }

    > h4 {
        @apply text-surf-h4 leading-surf-h4 text-surf-black font-surf-h4;
    }

    > h5 {
        @apply text-surf-h5 leading-surf-h5 text-surf-black font-surf-h5;
    }

    > h6 {
        @apply text-surf-h6 leading-surf-h6 text-surf-black font-surf-h6;
    }

    // Use a smaller top margin for any elements if they're preceded by a `<h5>`
    > h5 + * {
        @apply mt-[0.2rem];
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 0 0.5rem;
        overflow: hidden;
        border: none;
    }

    td,
    th {
        min-width: 1em;
        padding: 3px 5px;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
        border-bottom: 1px #e2e2e2 solid;
    }

    th {
        font-weight: bold;
        text-align: left;
    }

    .selectedCell::after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(200, 200, 255, 0.4);
        pointer-events: none;
    }

    .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: -2px;
        width: 4px;
        background-color: #adf;
        pointer-events: none;
    }

    .tableWrapper {
        padding: 1rem 0;
        overflow-x: hidden;
    }

    .resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }
}

.ProseMirror:focus {
    outline: none;
}

.tall-editor {
    min-height: 25rem;
}

.short-editor {
    min-height: 6rem;
}

.list {
    padding: 0 1rem;
    list-style-position: outside;
    margin-left: 0.4rem;
}

.unordered {
    list-style: disc;
}

.ordered {
    list-style: decimal;
}

.ordered li::marker {
    font-weight: bold;
}

.tiptap-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    border: none;

    td,
    th {
        min-width: 1em;
        padding: 3px 5px;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
        border-bottom: 1px #e2e2e2 solid;
    }

    th {
        font-weight: bold;
        text-align: left;
    }

    .selectedCell::after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(200, 200, 255, 0.4);
        pointer-events: none;
    }

    .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: -2px;
        width: 4px;
        background-color: #adf;
        pointer-events: none;
    }

    p {
        margin: 0;
    }
}

.prose>p,
.prose>ol,
.prose>ul,
.prose>table,
.prose>h5 {
    margin-bottom: 1rem;
}

.ProseMirror,
.prose {

    /* stylelint-disable selector-max-compound-selectors */
    ul>li {
        list-style-type: disc;
    }

    ul>li ul>li {
        list-style-type: circle;
    }

    ul>li ul>li ul li {
        list-style-type: square;
    }

    ol>li {
        list-style-type: decimal;
    }

    ol>li ol>li {
        list-style-type: lower-latin;
    }

    ol>li ol>li ol li {
        list-style-type: lower-roman;
    }
}
